<div class="form-center">
    <div class="panel panel-info dialog shadow center">
        <div class="panel-heading">Save Project</div>
        <form class="center form-horizontal" onsubmit="return false" role="form">
            <div class="panel-body">
                <div class="form-group">
                    <label for="projectName" class="col-sm-4 control-label">Project Name</label>
                    <div class="col-sm-8">
                        <input id="projectName"
                               class="form-control"
                               type="text"
                               value={{projectName}}
                               placeholder="Please enter a project name..."
                               name="projectName"
                               required="true"
                               style="padding: 6px 12px;"/>
                        <script>document.getElementById("projectName").select();</script>  
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-danger left" id="btnCancel">Cancel</button>
                <button type="submit" class="btn btn-success right" id="btnOk">OK</button>
            </div>
        </form>
    </div>
</div>