/Makefile
/doc/api/Makefile
/doc/user-guide/Makefile
/doc/prover/Makefile
/doc/language/Makefile
/configure
/proveit
/provethem
/pvs-get-patches
/doc/language/pvs-doc.el
/pvs
/pvsio
/TAGS
pvs-patches/patch*
autom4te.cache
bin/*
lib/why/*

emacs/emacs23
emacs/emacs24
src/pvs-info.lisp
src/pvs-lexer.lisp
src/pvs-methods.lisp
src/pvs-parser.lisp
src/pvs-sorts.lisp
src/WS1S/mona
src/nlyices/ix86_64-Linux/
src/nlyices/ix86-MacOSX/
src/utils/ix86_64-Linux/b64
src/utils/ix86-MacOSX/b64
src/cl-json/_darcs
orphaned-proofs.prf
pvsbin

*.log
*.status
*~
*.*fasl
*.x8664s
*.ppcf
*.ppcs
*.o
*.a
*.so
*.dylib
*.elc
.pvscontext
*_adt.pvs
*.out
*.aux
*.dvi
*.cp
*.fn
*.vr
*.ky
*.pg
*.tp
*.nav
*.toc
*.pyc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ind
*.synctex.gz
*.ilg
doc/release-notes/*.html
doc/release-notes/*.ps
doc/release-notes/*.pdf
doc/release-notes/*.info
orphaned-proofs.prf
pvsbin
*.err

*_c.c 
*_c.h

prover-log.yaml
pvs-version.lisp
.vscode/settings.json
emacs/.readme
emacs/pvs-prelude-files-and-regions.el 
.DS_Store
git-commit

python/.DS_Store

python/src/.DS_Store

python/.settings/org.eclipse.core.resources.prefs

.project
.vagrant