/Makefile
/configure
/proveit
/provethem
/pvs
/pvsio
/TAGS
autom4te.cache
bin/ix86_64-Linux
emacs/emacs-src/pvs-prelude-files-and-regions.el
doc/user-guide/Makefile
doc/prover/Makefile
doc/language/pvs-doc.el
doc/language/Makefile
doc/api/Makefile
emacs/emacs23
src/pvs-info.lisp
src/pvs-lexer.lisp
src/pvs-methods.lisp
src/pvs-parser.lisp
src/pvs-sorts.lisp
src/WS1S/mona
src/nlyices/ix86_64-Linux/
src/utils/ix86_64-Linux/b64

*.log
*.status
*~
*.*fasl
*.x8664s
*.o
*.a
*.so
.pvscontext
*_adt.pvs
*.out
