/Makefile
/configure
/proveit
/provethem
/pvs
/pvsio
/TAGS
autom4te.cache
bin/*
emacs/*
doc/*
Examples/*

emacs/emacs23
emacs/emacs24
src/pvs-info.lisp
src/pvs-lexer.lisp
src/pvs-methods.lisp
src/pvs-parser.lisp
src/pvs-sorts.lisp
src/WS1S/mona
src/nlyices/ix86_64-Linux/
src/nlyices/ix86-MacOSX/
src/utils/ix86_64-Linux/b64
src/utils/ix86-MacOSX/b64
orphaned-proofs.prf
pvsbin

*.pvs
*.tgz
*.log
*.status
*~
*.*fasl
*.x8664s
*.ppcf
*.ppcs
*.o
*.a
*.so
*.dylib
.pvscontext
*_adt.pvs
*.out
*.tgz
*.aux
*.dvi
*.cp
*.fn
*.vr
*.ky
*.pg
*.tp
*.nav
*.toc
*.pyc
doc/release-notes/*.html
doc/release-notes/*.ps
doc/release-notes/*.pdf
doc/release-notes/*.info
orphaned-proofs.prf
pvsbin
*.err

python/.DS_Store

python/src/.DS_Store

python/.settings/org.eclipse.core.resources.prefs

.project
