// The svg chart content - nodes, transitions, etc.

.emuchart {
    svg {
        background-color: $color-bg-lighter;
        cursor: default;
        user-select: none;

        &:not(.active):not(.ctrl) {
            cursor: default;

            path.link {
                cursor: pointer;
            }
        }
    }

    .link {
        fill: none;
        stroke: #000;
        stroke-width: 1px;
        cursor: default;

        &.selected {
            stroke-dasharray: 10, 2;
        }

        &.dragline {
            pointer-events: none;
        }

        &.hidden {
            stroke-width: 0;
        }
    }

    text {
        font: $font-size-small sans-serif;
        pointer-events: none;

        &.id {
            text-anchor: middle;
            font-weight: bold;
        }
    }
}
