// Table containing lists of states, transitions, variables, etc.

#StateAttributes,
#MachineStates,
#TransitionsTable,
#ConstantsTable,
#DatatypesTable {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    margin: 1px;
    background: $color-bg-lighter;
    overflow: auto;
    float: right;
    border: 2px solid $color-primary-light;
    height: 200px;
}

#EmuchartsFloatTable {
    position: absolute;
    top: 614px;
    width: 100%;
    left: 0;
    margin: 1px;
    background: $color-bg-light;
    overflow: auto;
    float: right;
}

.table-tab-container {
    @include list-reset();

    text-transform: uppercase;
    font-size: $font-size-small;
}

.table-tab {
    float: left;

    a {
        @extend %dark-hover;

        display: block;
        min-width: 160px;
        padding: 7px 14px;
        color: $color-fg-dark;
        background-color: $color-bg-light;
        text-align: center;
        text-decoration: none;
    }

    &.active a {
        color: $color-fg-light;
        background-color: $color-primary;
        border: none;
    }
}

.table-toggle-container {
    float: right;
}

.table-toggle-visible {
    @extend %dark-hover;

    background-color: $color-primary;
    color: $color-fg-light;
    font-size: 12px;
    cursor: pointer;

    span {
        padding: 9px 0 8px 4px;
        width: 20px;
    }
}

#modifyPropertiesToolbar {
    width: 930px;
    font-family: Tahoma, sans-serif;
    display: block;
}

#modifyPropertiesToolbarNode {
    border-style: dotted;
    font: 20px/24px cursive;
    display: none;
}

#modifyPropertiesToolbarEdge {
    border-style: dotted;
    font: 20px/24px cursive;
    display: none;
}

.table-editable {
    position: relative;
}

.table-editable .glyphicon {
    font-size: 20px;
}

.table-remove {
    color: #700;
    cursor: pointer;
}

.table-remove:hover {
    color: #f00;
}

.table-up,
.table-down {
    color: #007;
    cursor: pointer;

    &:hover {
        color: #00f;
    }
}

.table-add {
    color: #070;
    cursor: pointer;
    background-color: $color-bg-light;
}

.table-add:hover {
    color: #0b0;
    background-color: $color-bg-light;
}

.floating-table {
    position: absolute;
    margin-right: 20px;
}

.TableHeading {
    background-color: $color-bg-light;
}

.TableHeading > th {
    padding: 4px 2px 0 8px !important;
}

.width32 {
    width: 32px;
}

.EmuchartTableHeader {
    padding: 4px 4px 4px 8px;
    color: $color-fg-light;
    background-color: $color-primary;
    height: 30px;
    display: none;
}
