.tr {
    cursor:ne-resize;
}

.tl {
    cursor:nw-resize;
}

.br{
    cursor: se-resize;
}

.bl{
    cursor: sw-resize;
}
rect.corner {
    fill: black;
    stroke: #0bc95b;
}
g.selected .region {
    stroke: yellow;
    stroke-width: 2.5px;
}

g.selected.subselected .region {
    stroke-width: 2.5px;
}
.region {
    fill: rgba(35, 101, 32, 0.2);
    stroke: rgba(35, 101, 32, 0.7);
    cursor: move;
}

.image-map-layer {
    z-index: 190;   
}