#EmuchartToolbar {
    float: left;
    position: absolute;
    margin-top: 8px;
}

#stateMachineMenu {
    position: absolute;
	float: left;
    margin-left: 0px;
    width: 700px;
}
#stateMachineInfoBar {
    position: absolute;
    padding-left: 700px;
}

#ContainerStateMachine  {
	border:         2px solid;
	background:     white;
 	width:          934px;
	border-radius:  4px;
	height:         844px;
	left:		1px;
	cursor: default;
	/*display:        none; */
}
#stateMachineToolbar {
    margin-bottom: 10px;   
    margin-top: 10px; 
}
#MouseOverlay  {
	/*border:         1px solid;*/
 	width:          20px;
    height:         20px;
    position:       absolute;
    opacity:        0.9;
	/*display:        none; */
}


#EmuchartLogo.hidden{
    display: none;
}

#EmuchartLogo.Start{
	text-align: center;
	position: relative;
	height: 320px;
	width: 100%;
	z-index: 1234;
}

#EmuchartLogo.Start span{
	display: block;
	margin-top: 120px;
	width: 400px;
	font-size: 30px;
	font-family: Times, serif;
	line-height: 1.1;
	text-align: center;
}

#button_state:hover	  {

	cursor:		default;
	box-shadow:     0 1px 3px rgba(0,0,0,0.8);
	
}
#button_junction:hover	    {

	cursor:		default;
	box-shadow:     0 1px 3px rgba(0,0,0,0.8);
}
#button_deftrans:hover	    {

	cursor:		default;
	box-shadow:     0 1px 3px rgba(0,0,0,0.8);
}

#button_box:hover	{

	cursor:		default;
	box-shadow:     0 1px 3px rgba(0,0,0,0.8);
}


.draggable      {

	cursor: move;
}

.resizable-se		{

	cursor: se-resize ;

}

.resizable-sw		{

	cursor: sw-resize ;

}
.resizable-ne		{

	cursor: ne-resize ;

}

.resizable-nw		{

	cursor: nw-resize ;
}

.arrow			{

	cursor: crosshair;
}


ul#context-menu {
   position: relative;
   display: none;
   /*sample style attributes follow*/
   width: 100px;
   background: #333;
   cursor: pointer;
   color: #fff;
   font-size: 12px;
}

ul#context-menu li {
   margin: 3px;
   padding: 3px;
   background: #000;
}

.editor_inside_chart {

   position: absolute;
   width: 330px;
   height: 330px;
   left: 30px;
   top: 30px;
   display: none;
}
.button_inside_svg {
  position: absolute;
  top: 30px;
  width:30px;
  height:30px;
  border-width: 1px;
  border-style: none;
  border-color: white;
  display:block;
  background-image: url("../../img/text.png");
}

.resize_button_inside_svg {
  position: absolute;
}

#emulinkInfo {
  position: absolute;
  top:	    100px;
  width:    180px;
  height:   50px;
  left:    940px;
  border-width : 1px;
  background :  #FF0000;
  font-family: Tahoma, sans-serif;
}
#infoBox-old {
  position: absolute;
  top:	    150px;
  width:    180px;
  height:   80px;
  left:    940px;
  border-width : 1px;
  background :  #D0F18F;
  font-family: Tahoma, sans-serif;
}
#infoBox {
  position: absolute;
  top:	    0px;
  width:   180px;
  height:  220px;
  left:    940px;
  border-width : 1px;
  background :  #D0F18F;
  font-family: Tahoma, sans-serif;
}
#infoBoxModifiable {
  position: absolute;
  top:	    230px;
  width:    180px;
  height:   300px;
  left:    940px;
  border-width : 1px;
  background :  #CEF6F5;
  font-family: Tahoma, sans-serif;
}
#warningDebug-old {
  position: absolute;
  top:	    530px;
  width:    180px;
  height:   300px;
  left:    940px;
  border-width : 1px;
  background :  #AAFFFF;
  font-family: Tahoma, sans-serif;
}
#warningDebug {
  position: absolute;
  top:	    230px;
  width:    180px;
  height:   500px;
  left:    940px;
  border-width : 1px;
  background :  #AAFFFF;
  font-family: Tahoma, sans-serif;
}
#modifyPropertiesToolbar{
	width: 930px;
	font-family: Tahoma, sans-serif; 
	display: block;
}
#modifyPropertiesToolbarNode{
 border:-style: dotted;
 font: 20px/24px cursive; 
 display: none;
}
#modifyPropertiesToolbarEdge{
 border:-style: dotted;
 font: 20px/24px cursive;    
 display:none;
}

#stateMachineMenu .tobeimplemented {
  color: gray;
}