.main-file a: after {
    content: " [main]"
}

span.toggle-collapse {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 5px;
}

.collapsible-panel-parent {
    background-color: whitesmoke;
    width: 100%;
    overflow:hidden;
    border:1px solid #ccc;
    margin-bottom: 5px;
}

.collapsible-panel-parent span.header{
    margin-left: 10px;
    display:inline-block;
}

div.header {
    padding: 5px;
    min-height: 36px;
    border:1px solid #4088B6;
    background-color: white;
    cursor: pointer;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
div.plugins {
    white-space: nowrap;
    margin-top: 1px;
    padding-top: 6px;
    padding-left: 12px;
    min-height: 36px;
    border:1px solid #4088B6;
    background-color: white;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#graphicalEditor{
    position:       relative;
}

#graphicalEditor.hidden {
    display: none;
}
#graphicalEditor.block {
    display: block;
}

#content{
    min-width: 1200px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 800px;
    -webkit-animation: fadeIn 1s; /* Chrome, Safari, Opera */
    -moz-animation:  fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#content .ljs-resizer {
    background: #ddd;
    width: 5px;
    height: 100%;
}

svg.image-map-layer{
    background: transparent;
}

label[for=selectPicture]{
    display: inline;
}

.hide{
    display:none;
}

div.downloader{
    width: 280px;
    background: white;
    padding: 50px;
}
.shadow{
    box-shadow: 0px 0px 30px 10px #444;
}
.downloader textarea{
    width: 280px;
    height: 250px;
}

.dialog{
    background: white;
    width: 500px;
}
.overlay{
    display: table;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 2000000;
}
#header{
    position: fixed;
    z-index: 1024;
    min-width: 1024px;
    max-height: 54px;
    width: 100%;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#header .btn:hover, li.plugin-box:hover {
    background: black;
    color: white;
}
.center{
    margin-right: auto;
    margin-left: auto;
}

.right{
    float: right;
}

.left{
    float: left;
}

area{
    cursor: pointer;
}

#controlsContainer a.status {
    padding:10px;
    text-decoration: none;
    color: #555;
}

#imageDiv{
    position: relative;
}
#controlsContainer{
    position: relative;
    height: 50px;
    min-width: 400px;
}

div.displayWidget{
    text-shadow: 1px 1px 10px #888;
}
/**
source code ection styling
*/

fileListItem.hide {
    display: none;
}

.list-icon {
    display: inline-block;
    width: 14px;
    height:14px;
    margin-right:5px;
}

/*
#sourcecode-editor-wrapper{
    display: list-item;
}
*/
/*
#editor-notification-area {
    float: right;
    width: 350px;
    height: 35px;
    border: grey solid;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding: 6px 0 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}

#editor-notification-area p {
    text-align: center;
}
*/
#pvsFiles {
    display:inline-block;
    max-height: 400px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    font-size:15px;
    padding-left: 5px;
    color: #999;
    background-color: white;
  }
#pvsFiles .treelist{
    min-width: 100%;
}

#editor{
    z-index: 30;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid #ddd;
    display: inline-block;
}
#imageViewer{
    z-index: 30;
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    display: inline-block;
}
#editorToolbar{
    padding: 4px;
    min-width: 1024px;
    background-color: whitesmoke;
}
#editor-search-bar {
    height: 28px;
    position: relative;
}
/*** end source code section **/

#console {
    min-height: 240px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    font-size: 10px;
    padding: 5px;
    background: whitesmoke;
}

.clear-both{
    clear:both;
}

img {
    z-index: -2;
}

intput:invalid, select:invalid{
    border: 1px solid red;
}

.dndcontainer{
    background: white;
    text-align: center;
    position: absolute;
    border: 4px dashed teal;
    height: 100%;
    width: 100%;
    z-index: 191;
    min-width: 400px;
}

#specDragAndDrop.dndcontainer{
    display:none;
}

.dndcontainer span{
    display:block;
    margin-top: 150px;
    width: 400px;
    font-size: 30px;
    font-family: Times, serif;
    line-height: 1.1;
    text-align: center;
}

/***bootstrap overrides ***/
div#content select, div#content input, div#content textarea, div.detailsForm  input,
div.detailsForm select, div.detailsForm textarea{
    margin-bottom: 0px;
}
#body {
    background: white;
}

.tab-content {
    margin-top: 20px;
}

.form-center {
    display: table-cell;
    vertical-align: middle;
}

 .overlay .panel {
    width: 540px;
}

.panel-footer {
    min-height:50px;
}

#scripts {
    height: 50%;
    width: 100%;
    background: #eee;
    overflow-y: auto;
    font-size: 12pt;
    cursor: pointer;
}
#scripts .scriptItem {
    padding-left: 8px;
}

#scripts .scriptItem span.itemlabel {
    padding-left: 5px;
    vertical-align: text-top;
}

#scripts-toolbar {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    min-width: 200px;
    width: 100%;
    padding-left: 16px;
    background-color: whitesmoke;
}

#btnPlay {
    cursor: pointer;
    padding-left: 8px;
    font-size: 24pt;
    float: left;
}
#btnFastbackward {
    cursor: pointer;
    padding-left: 8px;
    padding-top: 6px;
    font-size: 16pt;
    float: left;
}
#btnFastforward {
    cursor: pointer;
    padding-left: 8px;
    padding-top: 6px;
    font-size: 16pt;
    float: left;
}

#btnRecord {
    color: red;
    cursor: pointer;
    margin-top: -30px;
    margin-right: -16px;
    margin-left: -16px;
    float: left;
    font-size: 56pt;
}
#btnStop {
    cursor: default;
    color: grey;
    padding-left: 8px;
    padding-right: 36px;
    padding-top: 6px;
    font-size: 16pt;
    float: left;
}

#btnRepeat {
    cursor: pointer;
    padding-left: 32px;
    padding-top: 6px;
    font-size: 16pt;
    float: left;
}

.animation-halo {
    position: absolute;
    border: 3px solid orange;
    background: rgb(33, 110, 209);
    opacity: 0.4;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.0; }
    to { opacity: 1.0; }
}

.recording {
    -webkit-animation:fade 3000ms infinite;
}
///
.btn-group > span {
    position: absolute;
    width: 712px;
    padding-left: 216px;
    padding-top: 8px;
}
#rightPanel {
    width: 20%;
    padding-left: 5px;
    z-index: 200;
    background: lightgray;
    overflow-y: auto;
}

.content-body > .ljs-hcontent {
    width: 80%;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#body .ljs-hcontent {
    padding-left: 0;
    width: 80%;
    background: white;
}

#builder-controls.ljs-left {
    width: 20%;
    background: white;
    height: 480px;
}

#projectTitle {
    width: 100%;
    background-color: rgb(8, 88, 154);
    background-image: url("toolbar.png");
    background-repeat: no-repeat;
    padding: 0px;
    color: white;
    font: 20px sans-serif;
    opacity: 0.96;
    display: inline-flex;
    display: -webkit-flex;
}
#projectTitle div.btn.txtProjectName {
    font-size: large;
    cursor:default;
    padding-bottom: 1px;
    min-height: 52px;
    padding-top: 14px;
}
#projectTitle div.btn.txtProjectName:hover{
    background-color: transparent;
    color: white;
}
#projectTitle a {
    background-color: rgb(8, 88, 154);
    color: #f5eee5;
    min-height: 52px;
    padding-top: 16px;
}
#projectTitle a:hover {
    color: white;
}
#projectTitle a#btnReconnect {
    background: lawngreen;
    color: black;
}
#projectTitle a#btnReconnect:hover {
    background: black;
    color: white;
}

#project-notifications {
    display: none;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: small;
    width: 100%;
}

.plugins-group .list-group-item {
    border-radius: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.plugins-group .list-group-item input {
    cursor: pointer;
}
.plugins-group .list-group-item label {
    cursor: pointer;
}

.panel.scrollable-dialog {
    width: 700px;
}

.scrollable-dialog .panel-body {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.overlay .panel-heading {
    cursor: move;

}
.scrollable-dialog .thumbnail {
    text-align: center;
}

.scrollable-dialog .thumbnail > .image {
    height: 150px;
    overflow: hidden;
}

.scrollable-dialog .thumbnail img {
    max-height: 150px;
    max-width: 100%;
    overflow-y: hidden;
}

.caption button {
    width: 100%;
}
#widgetsList {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    height: 100%;
}
#widgetsList li{
    cursor: pointer;
}

#widgetsList li.selected {
    background: rgb(8, 88, 154);
    color: white;
}
#widgetsList li:hover {
    color: white;
    background: black;
}
#widgetsList li.selected:hover {
    color: white;
    background: rgb(8, 88, 154);
}

.disable-text-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
}

#content .ljs-hcontent.content-body {
    padding-top: 54px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.CodeMirror pre.CodeMirror-placeholder { color: #999; }

#scripts .timeLine {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #4088B6;
}

#autoSaver {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 14px;
}

.expandable-panel {
    width: 100%;
    position:relative;
    overflow:auto;
    border:1px solid #999;
}
.expandable-panel-heading {
    width:100%;
    cursor:pointer;
    min-height:32px;
    clear:both;
    background-color:#E5E5E5;
    padding-left: 16px;
    padding-top: 4px;
    white-space: nowrap;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.expandable-panel-heading:hover {
    color: white;
    background-color: black;
}
.expandable-panel-heading span {
    font-size:small;
    line-height:20px;
}

#autoSaver {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 14px;
}

#editorToolbar button:hover {
    color: white;
    background: black;
    text-shadow: none;
}

/*
==============================================
pullDown
==============================================
*/

.pullDown{
    animation-name: pullDown;
    -webkit-animation-name: pullDown;
    animation-duration: 1.1s;
    -webkit-animation-duration: 1.1s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
    0% { transform: scaleY(0.1); }
    40% { transform: scaleY(1.02); }
    60% { transform: scaleY(0.98); }
    80% { transform: scaleY(1.01); }
    100% { transform: scaleY(0.98); }
    80% { transform: scaleY(1.01); }
    100% { transform: scaleY(1); }
}

@-webkit-keyframes pullDown {
    0%  { -webkit-transform: scaleY(0.1); }
    40% { -webkit-transform: scaleY(1.02); }
    60% { -webkit-transform: scaleY(0.98); }
    80% { -webkit-transform: scaleY(1.01); }
    100% { -webkit-transform: scaleY(0.98); }
    80% { -webkit-transform: scaleY(1.01); }
    100% { -webkit-transform: scaleY(1); }
}

/*
==============================================
slideDown
==============================================
*/
.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes slideDown {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slideDown {
    0% { -webkit-transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0%); }
}

/*
==============================================
slideUp
==============================================
*/
.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes slideUp {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slideUp {
    0% { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(0%); }
}

/*
==============================================
fadeIn
==============================================
*/

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/*
==============================================
fadeOut
==============================================
*/

.fadeOut{
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes fadeOut {
    0%, 70% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
    0%, 70% { opacity: 1; }
    100% { opacity: 0; }
}

#model-editor-container {
    display: list-item;
    height: 400px;
}

#model-editor-container .ljs-right{
    width: 20%;
/*    overflow-x: auto;*/
    background: white;
}

.timeLine {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(8, 88, 154);
}

#projectTitle .btn.disconnected {
    background: red;
}

#content.prototypebuilder.offscreen {
    position: absolute;
    left: -2000px;
}

.PVSio-web-logo {
    width: 100%;
    float:left;
    position: absolute;
    z-index: 99999;
    margin-top: 120px;
    margin-left: auto;
    -webkit-animation: fadeOut;
    animation: fadeOut;
}

.demo-splash {
    height: 800px;
    width: 100%;
    opacity: 0.8;
    float:left;
    position: absolute;
    z-index: 99999;
    margin-top: 120px;
    margin-left: auto;
    -webkit-animation: fadeOut;
    animation: fadeOut;
}

.loader {
    width: 600px;
    height: 400px;
    display: table;
    margin: 0 auto;
    font-size: 52pt;
    background: midnightblue;
    color: white;
    border-radius: 20pt;
}

.loader .version {
    margin-left: 10%;
    padding-top: 16%;
}
.loader .bar {
    margin-left: 34%;
    width: 90%;
    height: 64px;
    font-size: 24pt;
    color: rgb(8, 88, 154);
    display: inline-flex;
}

.loader .bar div {
    height:54px;
    width:16px;
    margin-left: 6px;
    display:inline-flex;
    background-color: rgb(8, 88, 154);
    display: inline-block;
    -webkit-animation: wave 1.2s infinite ease-in-out;
    animation: wave 1.2s infinite ease-in-out;
}

.loader div:nth-child(2) {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.loader div:nth-child(3) {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.loader div:nth-child(4) {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.loader div:nth-child(5) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes wave {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes wave {
    0%, 40%, 100% { transform: scaleY(0.4); }
    20% { transform: scaleY(1.0); }
}

#file-browser {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

input.input_text{
    color: black;
}
#file-browser ul {
    width: 100% !important;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dbg {
    overflow: scroll;
    color: lime;
    background: black;
    padding-left: 4px;
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#file-preview {
    border-top: 1px solid grey;
    padding-top: 10px;
    margin-top: 0 !important;
}
#image-preview {
    max-width: 100px;
    width: 100px;
}

#btnBuilderView.active a, #btnSimulatorView.active a{
    color: white;
    background-color: rgb(8, 88, 154);
    border: none;
}

#btnBuilderView.active span, #btnSimulatorView.active span{
    position: absolute;
    top: 30px;
    left: 46px;
    color: white;
    display: inline;
}

#btnSimulatorView.active span {
    left: 54px;
}
#btnBuilderView span, #btnSimulatorView span{
    display: none;
}

#btnBuilderView a, #btnSimulatorView a{
    color: #898989;
}

#warnings.warnings p {
    color: red;
    display: inline;
    margin: 10px;
}

.blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite
}
@-webkit-keyframes blink { 67% { opacity: 0 } }
@-moz-keyframes blink { 67% { opacity: 0 } }
@-o-keyframes blink { 67% { opacity: 0 } }
@keyframes blink { 67% { opacity: 0 } }

.prevent_selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.waiting_connection:after {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    display: block;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    content: "";
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
input#filter {
    color: black;
    padding: 5px;
}
