/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

@mixin fadeIn-animation ($time) {
    -webkit-animation: fadeIn $time; /* Chrome, Safari, Opera */
    -moz-animation:  fadeIn $time;
    -o-animation: fadeIn $time;
    animation: fadeIn $time;
}

//variables
$pvsioblue: rgb(8, 88, 154);
$bgcolor: whitesmoke;
$textcolor: #555;
$ljs-bgcolor: #ddd;
$ljs-resizer-width: 5px;
//main content

//collapsible panel utils
.toggle-collapse {
    display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	padding: 5px;
}

.collapsible-panel-parent {
    background-color: $bgcolor;
	width: 100%;
	overflow:hidden;
	border:1px solid #ccc;
	margin-bottom: 5px;
    
    .header {
        margin-left: 10px;
        display: inline-block;
    }
}

.header {
    padding: 5px;
    min-height: 36px;
	border:1px solid $pvsioblue;
    background-color: white;
    cursor: pointer;
    @include disable-test-selection;
}

.plugins {
    white-space: nowrap;
    margin-top: 1px;
	padding-top: 6px;
    padding-left: 12px;
    min-height: 36px;
	border:1px solid $pvsioblue;
    background-color: white;
    cursor: default;
    @include disable-text-selection;
}

//region prototype builder
area {
    cursor: pointer;
}
.displayWidget {
    text-shadow: 1px 1px 10px #888;   
}
.dndcontainer{
	background: white;
	text-align: center;
	position: absolute;
	border: 4px dashed teal;
	height: 100%;
	width: 100%;
	z-index: 191;
    min-width: 400px;
    .span {
        display: block;
        margin-top: 150px;
        width: 400px;
        font-size: 30px;
        font-family: Times, serif;
        line-height: 1.1;
        text-align: center;
    }
}
//endregion
//region general
#graphicalEditor {
    position: relative;
    .hidden: { display: none;}
    .block { display: block; }
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 800px;
    @include fadeIn-animation(1s);
    
    .ljs-resizer {
        background: $ljs-bgcolor;
        width: $ljs-resizer-width;
        height: 100%;
    }
}
.dialog {
    background: white;
    width: 500px;
}
.overlay {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}
#console {
    min-height: 240px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    font-size: 10px;
	padding: 5px;
    background: whitesmoke;
}
#header {
    position: fixed;
    z-index: 19;
    min-width: 1024px;
    min-height: 54px;
    width: 100%;
    @include disable-text-selection;
}
intput:invalid, select:invalid{
	border: 1px solid red;
}
//endregion
//region editor styles
#controlsContainer {
    position: relative;
    height: 50px;
    min-width: 400px;
    a.status {
        padding: 10px;
        text-decoration: none;
        color: $textcolor;
    }
}
#pvsFiles {
    display: inline-block;
    max-height: 400px;
    width: 100%;
    height: 100%;
	overflow-y: auto;
    overflow-x: auto;
	font-size:15px;
    padding-left: 5px;
    color: $textcolor;
    background-color: $bgcolor;
    .treelist {
        min-width: 100%;
    }
}
.main-file {
    a {
        &:after{
            content: " [main]";
        }
    }
}
#editor{
	z-index: 30;
	width: 100%;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
	border: 1px solid $textcolor;
    display: inline-block;
}
#imageViewer{
	z-index: 30;
	width: 100%;
	height: 400px;
	border: 1px solid $textcolor;
    display: inline-block;
}
#editorToolbar{
    padding: 4px;
    min-width: 1024px;
    background-color: whitesmoke;
}
#editor-search-bar {
    height: 28px;
    position: relative;
}
//endregion
/***region bootstrap overrides ***/
div#content select, div#content input, div#content textarea, div.detailsForm  input,
div.detailsForm select, div.detailsForm textarea{
	margin-bottom: 0px;
}
#body {
	background: white;
}

.tab-content {
	margin-top: 20px;
}

.form-center {
    display: table-cell;
    vertical-align: middle;
}

 .overlay .panel {
    width: 540px;
}

.panel-footer {
    min-height:50px;
}
//endregion
//region script play/recording
#scripts {
    height: 50%;
    width: 100%;
    background: #eee;
    overflow-y: auto;
    font-size: 12pt;
    cursor: pointer;
    .scriptItem {
        padding-left: 8px;
        span.itemlabel {
            padding-left: 5px;
            vertical-align: text-top;
        }
    }
}
#scripts-toolbar {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    min-width: 200px;
    width: 100%;
    padding-left: 16px;
    background-color: $bgcolor;
    .button {
        float: left;
        cursor: pointer;
        padding-left: 8px;
    }
    
    #btnPlay {
        font-size: 24pt;
    }
    #btnFastbackward {
        padding-top: 6px;
        font-size: 16pt;
    }
    #btnFastforward {
        padding-top: 6px;
        font-size: 16pt;
    }
    #btnRecord {
        color: red;
        margin-top: -30px;
        margin-right: -16px;
        margin-left: -16px;
        font-size: 56pt;
    }
    #btnStop {
        color: grey;
        padding-right: 36px;
        padding-top: 6px;
        font-size: 16pt;
    }
    #btnRepeat {
        padding-left: 32px;
        padding-top: 6px;
        font-size: 16pt;
    }
}
.animation-halo {
    position: absolute;
    border: 3px solid orange;
    background: $pvsioblue;
    opacity: 0.4;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.0; }
    to { opacity: 1.0; }
}

.recording {
    -webkit-animation:fade 3000ms infinite;
}

//endregion