#model-editor-container {
    display: list-item;
    height: 600px;
}

#model-editor-container .ljs-right {
    width: 20%;
    background: $color-bg-lighter;
}

fileListItem.hide {
    display: none;
}

#pvsFiles {
    display: inline-block;
    max-height: 600px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 15px;
    padding-left: 5px;
    color: #999;
    background-color: $color-bg-lighter;
}

#pvsFiles .treelist {
    min-width: 100%;
}

#editor,
#imageViewer {
    z-index: 30;
    width: 100%;
    border: 1px solid $color-grey-lighter;
    display: inline-block;
}

#editor {
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
}

#imageViewer {
    height: 600px;
}

#editorToolbar {
    padding: 4px;
    min-width: 1024px;
    background-color: $color-bg-light;

    button {
        @extend %dark-hover;

        &:hover {
            text-shadow: none;
        }
    }
}

#editor-search-bar {
    height: 28px;
    position: relative;
}

.CodeMirror pre.CodeMirror-placeholder { color: #999; }
