.toggle-collapse {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 5px;
}

.collapsible-panel-parent {
    background-color: $color-bg-light;
    width: 100%;
    overflow: hidden;
    border: 1px solid $color-grey-light;
    margin-bottom: 5px;

    > .header {
        @extend .noselect;

        padding: 5px;
        min-height: 36px;
        border: 1px solid $color-primary-light;
        background-color: $color-bg-lighter;
        cursor: default;

        .header {
            margin-left: 10px;
            display: inline-block;
        }
    }
}
