/**
 * Simple container for a collection of buttons
 */

.toolbar {
    padding: 10px 15px;
    background-color: $color-bg-light;
    border-bottom: 1px solid $color-grey-lighter;

    &-right {
        float: right;
    }
}
