// Tree list used for most file browsers in the app

.treelist {
    .input_text {
        color: $color-fg-dark;
    }

    .node {
        width: 100%;
        cursor: pointer;
        border: none;
        color: $color-grey-dark;
        font-weight: normal;

        &.dirty {
            font-style: italic;
        }

        &.selected {
            color: $color-fg-light;
            position: relative;
            background: $color-primary-light;

            &:hover .line {
                background: $color-primary;
            }

            .line {
                height: 100%;
                background: $color-primary-light;
                border-left: none;
                min-width: 100%;
            }

            .label {
                color: $color-fg-light;
            }
        }

        &:hover {
            color: $color-fg-light;
            background-color: $color-grey-dark;

            .label {
                color: $color-fg-light;
            }
        }

        .label {
            color: $color-fg-dark;
            font-weight: normal;
        }

        span {
            margin-right: 5px;
        }

        .chevron {
            @extend %dark-hover;

            font-size: 10px;
            width: 24px;
            text-align: center;
            border-radius: 4px;
        }

        .line {
            display: inline-block;
        }
    }
}

.contextmenu {
    list-style: none;
    list-style-type: none;
    background: $color-bg-lighter;
    padding: 5px;
    border-radius: 5px;
    min-width: 150px;
    border: 1px solid $color-grey-light;
    cursor: default;
    position: absolute;
    z-index: 2345;

    li {
        padding: 5px 15px;

        &:hover {
            background: $color-grey-light;
            border: none;
        }
    }
}
