*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#coverpage .container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#featured-videos {
    font-size: 11pt;
}

body {
  color: #5c5c5c;
  background: #eeeeee;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12pt;
  line-height: 200%;
  font-family: "source-sans-pro", sans-serif;
  font-style: normal;
  margin: 0;
    text-align: justify;
}

body a {
    font-weight: bold;
    color: rgb(8, 88, 154);
}

ul {
  margin: 0px;
  padding: 0px;
}


#nav {
  padding-top: 22px;
  text-align: left;
}

#nav ul {
  width: 330px;
}


#nav ul li {
  position: relative;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 20px;
}

#nav ul li a {
  padding: 0 12px;
  font-weight: normal;
  border-left: 1px solid rgba(109,109,109,.4);
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(8, 88, 154);
}

#nav ul li.active a {
    color: rgb(8, 88, 154);
    font-weight: bolder;
    text-decoration: underline;
}

#nav ul li:first-child {
  padding-bottom: 12px;
}

#nav ul li:first-child a {
  border-left: none;
}

#intro {
  margin: 0 auto;
  text-align: justify;
    padding: 30px 0;
}

#downloads {
    padding: 30px 0;
}

#downloads .button {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
    font-family: "din-condensed-web",Arial,sans-serif;
  font-size: 18px;
  line-height: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;

  display: inline-block;
  color: #1b1b1b;
  background-color: rgba(153,153,153,.7);
  width: 500px;
}

#downloads .button:hover {
  text-decoration: none;
  background-color: rgba(153,153,153,1);
}

#intro #docsbutton {
  clear: left;
}

#downloads .live {
    background-color: rgb(8, 88, 154);
    color: white;
    display: block;
    margin: 0px auto;
    font-style: normal;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}


.screenshots {
    overflow: hidden;
    position: relative;
    height: 400px;
    background: url(../screenshot.png) 50% ;
    border-top: 1px solid black;
}

.screenshots:before {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    height: 16px;
    width: 100%;
    box-shadow: 0px 0px 16px rgba(0,0,0,.7);  
    z-index: 2;
}
.screenshots:after {
    bottom: -16px;
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 100%;
    box-shadow: 0px 0px 16px rgba(0,0,0,.7);  
    z-index: 2;
}

.screenshots p, .run p {
    height: 100%;
    text-align: center;
    margin: 0px auto;
}

.screenshots a {
    background: #f08519;
    margin-top: 180px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    color: white;
    font-style: bold;
}

.container.run {
    border-bottom: 1px solid rgb(8, 88, 154);
    border-top: 1px solid rgb(8, 88, 154);
}

.container.run a {
    width: 340px;
     background: #f08519;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    color: white;
    font-style: bold;
    margin: 50px 20px;
    display: inline-block;
}

#content-wrap .featured-videos {
    border-bottom: 1px solid rgb(8, 88, 154);
    padding: 20px 20px 50px 20px;
}
.run a.run {
    background: rgb(8, 88, 154);
}

.screenshots a:hover {
    font-weight: bolder;
    color: white;
}
.version {
    font-size: 30px;
    display: block;
}

.tagline {
    text-align: left;
    padding: 25px;
}

.forkme {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

#footer {
    padding: 20px 0;
    background: #000;
    color: #919191;
}

#footer a {
    color:   rgb(124, 169, 206) 
}
#footer p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
