<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">Edit Screen</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        Screen name
                    </label>
                    <div class="col-sm-8">
                        <input type="text" required name="screenName" class="form-control" value="{{name}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 control-label">
                        <label>
                            Initial screen
                            <input type="checkbox" name="isInitial" {{checked isInitial}} value="true">
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default left btn-cancel">Cancel</button>
                <button type="submit" class="btn btn-success right btn-create">Save</button>
            </div>
        </form>
    </div>
</div>
