<div class="toolbar">
    <div class="btn-group pim-mode-toggle" role="group" aria-label="Mode toggle">
        <button type="button" class="btn btn-default prototype-builder-button">
            Edit Mode
        </button>
        <button type="button" class="btn btn-default prototype-simulator-button">
            View Mode
        </button>
    </div>

    <div class="toolbar-right">
        <button class="btn btn-default pim-convert-button">Convert to chart</button>
    </div>
</div>
<div>
    <div class="ljs-left prototype-sidebar">
        <div class="prototype-sidebar-heading">Widgets</div>
        <div class="prototype-list-container"></div>
    </div>
    <div class="ljs-hcontent">
        <div class="prototype-image-container">
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>
