<div class="btn-group" role="group">
    <div class="dropdown-container">
    </div>
    <button class="btn btn-default btn-screen-duplicate edit" aria-label="Duplicate screen" title="Duplicate screen">
        <span class="glyphicon glyphicon-duplicate"></span>
    </button>
    <button class="btn btn-default btn-screen-add edit" aria-label="Add screen" title="Add screen">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>

<div class="screen-controls-buttons" style="display:inline-flex;">
    <div class="btn-group edit" role="group">
        <button class="btn btn-default btn-screen-options">
            <span class="glyphicon glyphicon-cog"></span> Screen Options
        </button>
        <button class="btn btn-default btn-screen-image">
            <span class="glyphicon glyphicon-picture"></span> Change image
        </button>
    </div>

    <button class="btn btn-default btn-screen-delete edit" title="Delete screen">
        <span class="glyphicon glyphicon-trash"></span>
    </button>

    <div class="view" style="display:none;">
        <button class="btn btn-default btn-playback-open" aria-label="Open playback script" title="Open playback script">
            <span class="glyphicon glyphicon-eject"></span>
        </button>

        <div class="btn-group" role="group">
            <button class="btn btn-default btn-playback-step-backward" aria-label="Previous state" title="Previous state">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button class="btn btn-default btn-playback-current-state" aria-label="Current state" title="Current state" disabled="true">
                <span class="glyphicon" style="min-width:100px; max-width:400px;"></span>
            </button>
            <button class="btn btn-default btn-playback-step-forward" aria-label="Next state" title="Next state">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-default btn-playback-pause" aria-label="Pause playback" title="Pause playback">
                <span class="glyphicon glyphicon-pause"></span>
            </button>
            <button class="btn btn-default btn-playback-play" aria-label="Playback storyboard" title="Playback storyboard">
                <span class="glyphicon glyphicon-play"></span> Play
            </button>
        </div>
    </div>
</div>
