<button type="button" class="btn btn-default dropdown-toggle btn-screen-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span id="btn-screen-dropdown_label_star" class="glyphicon glyphicon-star" style="display:none; float:left; color:blue;"></span>
	<span class="btn-screen-dropdown_label">Select screen</span>
	<span class="caret"></span>
</button>
<ul class="dropdown-menu screen-dropdown" style="cursor:pointer;">
</ul>
