<div class="btn-group" role="group">
    <div class="dropdown-container">
    </div>
    <button class="btn btn-default btn-screen-duplicate" aria-label="Duplicate screen" title="Duplicate screen">
        <span class="glyphicon glyphicon-duplicate"></span>
    </button>
    <button class="btn btn-default btn-screen-add" aria-label="Add screen" title="Add screen">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>

<div class="screen-controls-buttons">
    <div class="btn-group" role="group">
        <button class="btn btn-default btn-screen-options">
            <span class="glyphicon glyphicon-cog"></span> Screen Options
        </button>
        <button class="btn btn-default btn-screen-image">
            <span class="glyphicon glyphicon-picture"></span> Change image
        </button>
    </div>

    <button class="btn btn-default btn-screen-delete" title="Delete screen">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</div>
