<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">{{title}}</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        Widget name
                    </label>
                    <div class="col-sm-8">
                        <input type="text" required name="name" class="form-control" value="{{widget.name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        Link to
                    </label>
                    <div class="col-sm-8">
                        <div class="dropdown-container">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default left btn-cancel">Cancel</button>
                <button type="submit" class="btn btn-success right btn-create">
                    {{#if okText}}{{okText}}{{else}}Save{{/if}}
                </button>
            </div>
        </form>
    </div>
</div>
