<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">{{header}}</div>
        <form class="center form-horizontal" onsubmit="return false">
            <div class="panel-body" style="overflow-y: scroll; height: 64px;">            
                <div class="form-group" style="margin-bottom: 0 !important">
                    <label class="control-label col-sm-4" for="label">New machine state</label>
                    <div class="col-sm-8">
                        <input id="newLabel"
                               class="form-control"
                               type="text"
                               value="{{textLabel}}"
                               placeholder="Please enter label..."
                               name="newLabel"
                               required="true"
                               style="padding: 6px 12px;"/>
                        <script>document.getElementById("newLabel").select();</script>  
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-danger left" id="btnLeft">{{buttons.[0]}}</button>
                <button type="submit" class="btn btn-success right" id="btnRight">{{buttons.[1]}}</button>
            </div>
        </form>
    </div>
</div>