<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sri.csl.pvs.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sri.csl.pvs.plugin.preferences.PVSPreferencePage"
            id="com.sri.csl.pvs.plugin.preferences.PVSPreferencePage"
            name="PVS">
      </page>
   </extension>





   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PVS Editor"
            extensions="pvs"
            icon="icons/pvslogo.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.sri.csl.pvs.plugin.editor.PVSEditor"
            id="com.sri.csl.pvs.plugin.editor.PVSEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sri.csl.pvs.plugin.handlers.StartPVSHandler"
            commandId="com.sri.csl.pvs.plugin.commands.startPVS">
      </handler>
      <handler
            class="com.sri.csl.pvs.plugin.handlers.ForwardTheoryHandler"
            commandId="com.sri.csl.pvs.plugin.commands.forwardTheory">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.sri.csl.pvs.plugin.commands.startPVS"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.sri.csl.pvs.plugin.commands.category"
            name="PVS Category">
      </category>
      <command
            categoryId="com.sri.csl.pvs.plugin.commands.category"
            id="com.sri.csl.pvs.plugin.commands.startPVS"
            name="Start PVS">
      </command>
      <command
            id="com.sri.csl.pvs.plugin.commands.forwardTheory"
            name="forward-theory">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.sri.csl.pvs.plugin.menu.topMenu"
               label="PVS"
               mnemonic="v"
               tooltip="Start PVS">
            <command
                  commandId="com.sri.csl.pvs.plugin.commands.startPVS"
                  icon="icons/pvslogo.png"
                  label="Start PVS"
                  mnemonic="s"
                  style="push">
            </command>
            <menu
                  label="Editing PVS Files">
               <command
                     commandId="com.sri.csl.pvs.plugin.commands.forwardTheory"
                     style="push">
               </command>
            </menu>
            
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar:com.sri.csl.pvs.plugin.toolbars.main"
               label="Start PVS">
            <command
                  commandId="com.sri.csl.pvs.plugin.commands.startPVS"
                  icon="icons/pvslogo.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>


</plugin>
