<div id="safetyTests">
	<button type="button" class="btn btn-primary" id="runTests">Run Tests</button>
	<table class="table">
		<thead>
			<th>init</th>
			<th>Key sequence</th>
			<th>Design Issue?</th>
		</thead>
		<tbody>
		
		</tbody>
	</table>

</div>