<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">{{header}}</div>
        <div class="panel-body">
            <div class="col-sm-12">
                <input type="text" name="prompt" id="prompt" placeholder="{{message}}" class="form-control">
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-danger left" id="btnLeft">{{buttons.[0]}}</button>
            <button type="submit" class="btn btn-success right" id="btnRight">{{buttons.[1]}}</button>
        </div>
    </div>
</div>