<div class="expandable-panel-heading" onclick="toggle('scripts', 'Interactions recorder')">
    <span id="scripts-label">Interactions recorder (click to expand)</span>
</div>
<div id="scripts" style="display:none">
    <div id="scripts-toolbar">
        <span id="btnRecord" class="glyphicon">&bull;</span>
        <span id="btnStop" class="glyphicon glyphicon-stop"></span>
<!--
        <span id="btnFastbackward" class="glyphicon glyphicon-circle-arrow-left"></span>
        <span id="btnPlay" class="glyphicon glyphicon-play-circle"></span>
        <span id="btnFastforward" class="glyphicon glyphicon-circle-arrow-right"></span>
        <span id="btnRepeat" class="glyphicon glyphicon-repeat"></span>
-->
    </div>
    <ul class="list-group"></ul>
</div>