<div class="prototype-image-inner">
    <div class="dndcontainer">
        <span class="center">Drag user interface picture here or if you prefer, use the button below</span>
        <br/>
        <button class="btn btn-primary center btn-lg">Load Picture</button>
<!--
        <button class="btn btn-success center" id='btnEditStoryboard'>
            Create Storyboard</button>
-->
    </div>
    <img src="" />
    <map></map>
</div>
