<div class="ljs-left" id="builder-controls">
    <div id="widgetsList" class="disable-text-select">

    </div>
</div>
<div class="ljs-hcontent" id="prototype-builder-container">
    <div id="controlsContainer">
        <ul class="nav nav-tabs" role="tablist">
            <li id="btnBuilderView"
                class="active">
                <a href="#!">Builder View</a>
                <span class="glyphicon glyphicon-triangle-top"></span>
            </li>
            <li id="btnSimulatorView">
                <a href="#!">Simulator View</a>
                <span class="glyphicon glyphicon-triangle-top"></span>
            </li>
        </ul>
    </div>
    <div id="imageDiv" class="center">
        <div id="imageDragAndDrop" class="dndcontainer">
            <span class="center">Drag user interface picture here or if you prefer, use the button below</span>
            <br/>
            <button class="btn btn-primary center" id='btnLoadPicture'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Load Picture&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>
<!--
            <button class="btn btn-success center" id='btnEditStoryboard'>
                Create Storyboard</button>
-->
        </div>
        <img src="" usemap="#prototypeMap" />
    </div>
</div>
