<div class="toolbar" id="controlsContainer">
    <div class="btn-group" role="group" aria-label="Mode toggle">
        <button id="btnBuilderView" type="button" class="btn btn-primary prototype-builder-button">
            Builder View
        </button>
        <button id="btnSimulatorView" type="button" class="btn btn-default prototype-simulator-button">
            Simulator View
        </button>
    </div>

    <div class="toolbar-right">
        <button id="btnRebootPrototype" class="btn btn-danger pim-convert-button">Reboot Prototype</button>
    </div>
</div>
