<div id='pvsSpecification'>
	<div id="editorToolbar"> 
		<button class="btn btn-primary"
                id="btnTypeCheck">Compile</button>
<!--
		<button class="btn" id="new_file">New File</button>
-->
		<button class="btn btn-default"
                id="btnImportFiles">Import Files</button>
		<button class="btn btn-default"
                id="btnSetMainFile"><i class="icon-star"></i> Set As Main File</button>
		<button class="btn btn-default"
                id="btnSaveFile">Save Selected File</button>
<!--		<button class="btn" id="btnSaveAll">Save All Files</button>
<!--		<button class="btn btn-warning" id="btnTypeCheck">TypeCheck</button>  -->
<!--        <div id="editor-notification-area" style="display:none"></div>-->
    <div id="editor-search-bar" style="height:34px; float:right;">
        <button class="btn btn-default"
                style="padding:2px 4px 2px 4px; margin: 4px 0 0 4px;"
                id="btnSearchPrev">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <button class="btn btn-default"
                id="btnSearchNext"
                style="padding:2px 4px 2px 4px; margin-top:4px;">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
        <input id="model-editor-search-input"
               type="search"
               results="8" size="54"
               placeholder="Find text..."
               autocomplete="on"
               class="idle"
               style="margin:4px; float:right;">
    </div>
	</div>
	<div id="model-editor-container">
        <div id="sourcecode-editor-wrapper" class="ljs-hcontent">
            <div id="editor"></div>
            <div id="imageViewer" style="display:none"><img></div>
        </div>
        <div class="ljs-right">
            <div id="pvsFiles"></div>
        </div>
	</div>
</div>