@charset "UTF-8";

/** 
 * MTV.com Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		MTV.com
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */

@import "default.css";


/* -- Base style extension -- */

ul.dropdown li a {
 display: block;
 padding: 5px 30px;
}


/* -- Base style override -- */

ul.dropdown li {
 padding: 0;
}

ul.dropdown ul a {
 padding: 8px;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown *.dir { /* POI */
 padding: 5px 30px;
}

ul.dropdown ul *.dir {
 padding: 8px 30px 8px 8px;
}


/* -- Custom -- */

ul.dropdown ul li.dir ul {
 margin-top: -1px ;
 margin-left: 1px;
}


/* -- Roll-overs -- */

ul.dropdown li.hover,
ul.dropdown li:hover {
 border-top-color: #5b5b5b;
 background-color: #3d3d3d;
}

	ul.dropdown ul li.hover,
	ul.dropdown ul li:hover {
	 background: #4c4c4c url(../../../../images/mtv.com/comnav-arrowover.png) 100% 50% no-repeat;
	}

		ul.dropdown ul ul li.hover,
		ul.dropdown ul ul li:hover {
		 background: #595959 url(../../../../images/mtv.com/comnav-arrowover2.png) 100% 50% no-repeat;
		}


/* -- Drop-down open -- */

ul.dropdown ul li:hover > a.dir {
 border-top-color: #5b5b5b;
 background-image: url(../../../../images/mtv.com/comnav-arrowover.png);
}

ul.dropdown ul ul li:hover > a.dir { /* (?) merge with ul.dropdown ul a.dir:hover */
 border-top-color: #595959;
 background: #595959 url(../../../../images/mtv.com/comnav-arrowover2.png) 100% 50% no-repeat;
 color: #fff;
}

/* POI: Override upper two definitions */
ul.dropdown ul li:hover > a.dir:hover { /* (?) merge with ul.dropdown ul a.dir:hover */
 background: #4698ca url(../../../../images/mtv.com/comnav-arrowon.png) 100% 50% no-repeat;
 color: #fff;
}