*~
*.log
.project
.pvscontext
.settings
.DS_Store
*.bin
public/uploads/*
public/widgetDefinitions/*
examples/projects/*/pvsbin/*
examples/projects/autosave
*.summary
node_modules/*
doc/out
doc/client
v2.css
public/pvsioweb/css/v2.less
public/pvsioweb/lib/cm/mode/python/index.html
public/pvsioweb/lib/cm/mode/python/python.js
public/pvsioweb/lib/less-1.7.0.min.js
public/V1.html
test.js
.idea
pvsio-web.iml
src/server/lib/glassfish4/*
src/client/**/*.css.map
