<!-- container for overlay page with Start button -->
<!--<div id="EmuchartLogo" class="Start">-->
<div id="EmuchartLogo" class="hidden">
    <span class="center">Load a saved diagram, or create a new empty diagram with the buttons below</span>
    <br/>
    <button class="btn btn-primary" id="btnLoadEmuchart"> Load Emuchart </button>
    <button class="btn btn-danger" id="btnNewEmuchart"> New Emuchart </button>
</div>

<!-- container for graphical editor -->
<!--<div id="graphicalEditor" class="hidden">-->
<div id="graphicalEditor" class="emuchart">
    <div id="EmuchartsSelector" style="display:none;">
        <ul class="dropdown dropdown-vertical" id="emuchartsTab-NEXT">
            <li>
                <a href="#!" id="btw_emucharts_PREV">
                    <span title="Browse diagram"
                          class="glyphicon glyphicon-triangle-top">
                </a>
                <a href="#!" style="text-align:center;" id="btn_emucharts_1">1</a>
                <a href="#!" style="text-align:center;" id="btn_emucharts_2">2</a>
                <a href="#!" style="text-align:center;" id="btn_emucharts_3">3</a>
                <a href="#!" style="text-align:center;" id="btn_emucharts_1">4</a>
                <a href="#!" style="text-align:center;" id="btn_emucharts_2">5</a>
                <a href="#!" style="text-align:center;" id="btn_emucharts_3">6</a>
                <a href="#!" style="text-align:center;" id="btn_emucharts_1">7</a>
                <a href="#!" style="text-align:center;" id="btn_emucharts_2">8</a>
                <a href="#!" id="btw_emucharts_PREV">
                    <span title="Browse diagram"
                          class="glyphicon glyphicon-triangle-bottom">
                </a>
            </li>
        </ul>
    </div>
    <div id="EmuchartToolbar" >
        <ul class="dropdown dropdown-vertical">
            <li class='toolbar'>
                <div id="toolbarViewExportedImage" style="display:none;">
                    <hr>
                    <a href="#!" data-toggle="tooltip" data-placement="right" title="View Exported Image"
                       id="btn_toolbarViewExportedImage" target="_blank">
                        <span class="glyphicon glyphicon-download-alt"
                              style="font-size: 1.2em">
                        </span></a>
                </div>
                <hr>
                <a href="#!" data-toggle="tooltip" data-placement="right" title="Browse diagram" id="btn_toolbarBrowse">
                    <span class="glyphicon glyphicon-arrow-right"
                          style="font-size: 1.2em
                                 -ms-transform:rotate(-120deg); /* IE 9 */
                                 -moz-transform:rotate(-120deg); /* Firefox */
                                 -webkit-transform:rotate(-120deg); /* Safari and Chrome */
                                 -o-transform:rotate(-120deg); /* Opera */
                                 padding-left: 1px;">
                    </span></a>
                <hr>
                <a href="#!" data-toggle="tooltip" data-placement="right" title="Zoom-in" id="btn_toolbarZoomIn">
                    <span class="glyphicon glyphicon-zoom-in"
                          style="font-size: 1.2em;">
                    </span></a>
                <a href="#!" data-toggle="tooltip" data-placement="right" title="Zoom-out" id="btn_toolbarZoomOut">
                    <span class="glyphicon glyphicon-zoom-out"
                          style="font-size: 1.2em;">
                    </span></a>
                <a href="#!" data-toggle="tooltip" data-placement="right" title="Zoom-reset" id="btn_toolbarZoomReset">
                    <span class="glyphicon glyphicon-fullscreen"
                          style="font-size: 1.2em;">
                    </span></a>
                <hr>
                <a href="#!" data-toggle="tooltip" data-placement="right" title="Add states" id="btn_toolbarAddState">
                    <span class="glyphicon glyphicon-stop"
                          style="font-size: 1.2em
                                 transform: scale(1.4,1);
                                 -ms-transform: scale(1.4,1); /* IE 9 */
                                 -webkit-transform: scale(1.4,1); /* Safari and Chrome */
                                 -o-transform: scale(1.4,1); /* Opera */
                                 -moz-transform: scale(1.4,1); /* Firefox */">
                    </span></a>
                <a href="#!" data-toggle="tooltip" data-placement="right" title="Add transitions" id="btn_toolbarAddTransition">
                    <span class="glyphicon glyphicon-new-window"
                          style="font-size: 1.2em">
                    </span></a>
                <a href="#!" data-toggle="tooltip" data-placement="right" title="Rename states/transitions" id="btn_toolbarRename">
                    <span class="glyphicon glyphicon-font"
                          style="font-size: 1.2em">
                    </span></a>
                <a href="#!" data-toggle="tooltip" data-placement="right" title="Delete states/transitions" id="btn_toolbarDelete">
                    <span class="glyphicon glyphicon-remove"
                          style="font-size: 1.2em">
                    </span></a>
                <hr>
            </li>
        </ul>
    </div>
    <div id="stateMachineMenu" >
        <ul class="dropdown dropdown-horizontal">
            <li class="vdivider"><a href='#!' class="toolbar-tooltip">&nbsp;</a>
            </li>
            <li class='active has-sub' id="menuEmuchart"><a href='#!'><span>File</span></a>
                <ul>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuNewChart"><span>New</span></a></li>
                    <li><a href='#!' id="btn_menuOpenChart"><span>Open...</span></a></li>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuSaveChart"><span>Save</span></a></li>
                    <li><a href='#!' id="btn_menuExportAsImage"><span>Export as Image</span></a></li>
<!--                    <li><a href='#!Save as...' id="btn_saveChartAs"><span>Save as...</span></a></li>-->
<!--                    <li><a href='#!' id="btn_saveAllCharts"><span>Save all</span></a></li>-->
                    <li class="divider"></li>
<!--                    <li><a href='#!' id="btn_menuQuitEmulink"><span>Quit</span></a></li>
                    <li class="divider"></li>-->
                </ul>
            </li>
            <li class='active has-sub' id="menuStates"><a href='#!'><span>States</span></a>
                <ul>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuNewState"><span>New state</span></a></li>
                    <li><a href='#!' id="btn_menuRenameState"><span>Edit state</span></a></li>
                    <li><a href='#!' id="btn_menuDeleteState"><span>Delete state</span></a></li>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuLayOutStates"><span>Lay out states</span></a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li class='active has-sub' id="menuTransitions"><a href='#!'><span>Transitions</span></a>
                <ul>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuNewTransition"><span>New transition</span></a></li>
                    <li><a href='#!' id="btn_menuRenameTransition"><span>Rename transition</span></a></li>
                    <li><a href='#!' id="btn_menuDeleteTransition"><span>Delete transition</span></a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li class='active has-sub' id="menuContext"><a href='#!'><span>Context</span></a>
                <ul>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuNewVariable"><span>New variable</span></a></li>
                    <li><a href='#!' id="btn_menuEditVariable"><span>Edit variable</span></a></li>
                    <li><a href='#!' id="btn_menuDeleteVariable"><span>Delete variable</span></a></li>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuNewConstant"><span>New constant</span></a></li>
                    <li><a href='#!' id="btn_menuEditConstant"><span>Edit constant</span></a></li>
                    <li><a href='#!' id="btn_menuDeleteConstant"><span>Delete constant</span></a></li>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuNewDatatype"><span>New datatype</span></a></li>
                    <li><a href='#!' id="btn_menuEditDatatype"><span>Edit datatype</span></a></li>
                    <li><a href='#!' id="btn_menuDeleteDatatype"><span>Delete datatype</span></a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li class='active has-sub' id="menuCodeGenenerators"><a href='#!'><span>Code Generators</span></a>
                <ul>
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuPVSPrinter"><span>PVS Theory</span></a></li>
                    <li><a href='#!' id="btn_menuNuXMVPrinter"><span>NuXMV Model</span></a></li>
                    <li><a href='#!' id="btn_menuPIMPrinter"><span>PIM Model</span></a></li>
                    <li><a href='#!' id="btn_menuMALPrinter"><span>MAL Model</span></a></li>
                    <li><a href='#!' id="btn_menuVDMPrinter"><span>VDM Model</span></a></li>
                    <li><a href='#!' id="btn_menuBlessPrinter"><span>Bless Model</span></a></li>
<!--                    <li><a href='#!' id="btn_menuSALPrinter" class="tobeimplemented"><span>SAL Model</span></a></li>
                    <li><a href='#!' id="btn_menuLustrePrinter" class="tobeimplemented"><span>Lustre Model</span></a></li>-->
                    <li class="divider"></li>
                    <li><a href='#!' id="btn_menuMisraCPrinter"><span>MISRA C Code</span></a></li>
                    <li><a href='#!' id="btn_menuCppPrinter" class="tobeimplemented"><span>C++ Code</span></a></li>
                    <li><a href='#!' id="btn_menuJavaPrinter" class="tobeimplemented"><span>Java Code</span></a></li>
                    <li><a href='#!' id="btn_menuJavaScriptPrinter" class="tobeimplemented"><span>JavaScript Code</span></a></li>
                    <li><a href='#!' id="btn_menuAdaPrinter" class="tobeimplemented"><span>Ada Code</span></a></li>

                    <li class="divider"></li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#!'><span>Testing</span></a>
            <ul>
                <li class="divider"></li>
                <li><a href='#!' id="btn_toPIM"><span>Set Emuchart as PIM</span></a></li>
                <li><a href='#!' id="btn_fromPIM"><span>Set PIM as Emuchart</span></a></li>
                <li class="divider"></li>
                <li><a href='#!' id="btn_menuTestGenerator"><span>Test Generation</span></a></li>
                <li><a href='#!' id="btn_menuTestGeneratorFromFile"><span>Test Generation from File</span></a></li>
                <li class="divider"></li>
                <li><a href='#!' id="btn_menuPMTextGenerator"><span>PM Text Generator</span></a></li>
                <li class="divider"></li>
            </ul>
            <li class='active has-sub' id="menuVerification"><a href='#!'><span>Verification</span></a>
                <ul>
                    <li class="divider"></li>
					<li><a href='#!' id ="btn_menuConsistencyOfActions"><span>Consistency of actions</span></a></li>
                    <li><a href='#!' id ="btn_menuReversibilityOfActions"><span>Reversibility of actions</span></a></li>
					<li><a href='#!' id ="btn_menuVisibilityOfModes"><span>Visibility of modes</span></a></li>

				</ul>
		    </li>
            <li class='active has-sub' id="menuZoom"><a href='#!'><span>Zoom</span></a>
                <ul>
                    <li class="divider"></li>
					<li><a href='#!' id ="btn_menuZoomIn"><span>Zoom-in</span></a></li>
					<li><a href='#!' id ="btn_menuZoomOut"><span>Zoom-out</span></a></li>
					<li><a href='#!' id ="btn_menuZoomReset"><span>Reset zoom</span></a></li>

				</ul>
		    </li>
        </li>
		    <li class='active has-sub'><a href='#!'><span>Help</span></a>
				<ul>
                    <li class="divider"></li>
                    <li><a href='#!' class="tobeimplemented"><span>Online help</span></a></li>
                    <li><a href='#!' class="tobeimplemented"><span>About</span></a></li>
                    <li class="divider"></li>
                </ul>
            </li>
		    <li class='active has-sub'><a href='#!' style="cursor:default;">
                <input class="EmuchartsFilter" type="text" id="filter" placeholder="Filter..." /></a>
            </li>
        </ul>
    </div>

    <!--<div id="stateMachineFilterBar" >
        <ul class="dropdown dropdown-horizontal">
            <li>
                <input class="EmuchartsFilter" type="text" id="filter" placeholder="Filter..." />
            </li>
           <li class='active has-sub'><a href='#!' id="EmuchartsEditorMode" style="display:none;"><span>Editor mode: browse diagram</span></a>
        </ul>
    </div>-->
    <div id="MouseOverlay">
        <a href="#!" class="toolbar-tooltip" placeholder="addStates" id="MouseOverlayIcon">
            <span title="Add states"
                  class="glyphicon glyphicon-stop"
                  style="font-size: 1.2em
                         transform: scale(1.4,1);
                         -ms-transform: scale(1.4,1); /* IE 9 */
                         -webkit-transform: scale(1.4,1); /* Safari and Chrome */
                         -o-transform: scale(1.4,1); /* Opera */
                         -moz-transform: scale(1.4,1); /* Firefox */">
            </span></a>
        <a href="#!" class="toolbar-tooltip" placeholder="addTransitions" id="MouseOverlayIcon">
            <span title="Add transitions"
                  class="glyphicon glyphicon-new-window"
                  style="font-size: 1.2em">
            </span></a>
        <a href="#!" class="toolbar-tooltip" placeholder="rename" id="MouseOverlayIcon">
            <span title="Rename states/transitions"
                  class="glyphicon glyphicon-font"
                  style="font-size: 1.2em">
            </span></a>
        <a href="#!" class="toolbar-tooltip" placeholder="delete" id="MouseOverlayIcon">
            <span title="Delete states/transitions"
                  class="glyphicon glyphicon-remove"
                  style="font-size: 1.2em">
            </span></a>
    </div>
    <div id="ContainerStateMachine" ></div>
    <div id="ContainerStateMachineImage"></div>
    <div id="EmuchartsFloatTable">
        <div id="NewStateAttributes" style="display:none;">
            <table class="table">
              <!-- This is our clonable table line template -->
              <tr id="StateVariableTemplate">
                <td contenteditable="false" style="background-color:white; cursor: default;">Name</td>
                <td contenteditable="false" style="background-color:white; cursor: default;">Type</td>
                <td contenteditable="false" style="background-color:white; cursor: default;">Value</td>
                <td style="background-color:white; width:48px;">
                  <span id="RemoveStateAttribute" class="table-remove glyphicon glyphicon-remove"></span>
                </td>
                <td style="background-color:white;">
                  <!--<span id="StateAttributeUP" class="table-up glyphicon glyphicon-arrow-up"></span>
                  <span id="StateAttributeDOWN" class="table-down glyphicon glyphicon-arrow-down"></span>-->
                    <span id="EditStateAttribute" class="table-up glyphicon glyphicon-pencil">
                </td>
              </tr>
              <!-- -->
            </table>
        </div>
        <div id="NewConstant" style="display:none;">
            <table class="table">
              <!-- This is our clonable table line template -->
              <tr id="ConstantsTemplate">
                <td contenteditable="false" style="background-color:white; cursor: default;">Name</td>
                <td contenteditable="false" style="background-color:white; cursor: default;">Type</td>
                <td contenteditable="false" style="background-color:white; cursor: default;">Value</td>
                <td style="background-color:white; width:48px;">
                  <span id="RemoveConstant" class="table-remove glyphicon glyphicon-remove"></span>
                </td>
                <td style="background-color:white;">
                    <span id="EditConstant" class="table-up glyphicon glyphicon-pencil">
                </td>
              </tr>
              <!-- -->
            </table>
        </div>
        <div id="NewDatatype" style="display:none;">
            <table class="table">
              <!-- This is our clonable table line template -->
              <tr id="DatatypeTemplate">
                <td contenteditable="false" style="background-color:white; cursor: default;">Name</td>
                <td contenteditable="false" style="background-color:white; cursor: default;">Constructors</td>
                <td style="background-color:white; width:48px;">
                  <span id="RemoveDatatype" class="table-remove glyphicon glyphicon-remove"></span>
                </td>
                <td style="background-color:white;">
                    <span id="EditDatatype" class="table-up glyphicon glyphicon-pencil">
                </td>
              </tr>
              <!-- -->
            </table>
        </div>
        <div id="NewMachineState" style="display:none;">
            <table class="table">
              <!-- This is our clonable table line template -->
              <tr id="MachineStateTemplate">
                <td contenteditable="false" style="background-color:white; cursor: default;">
                    <div id="MachineStateName" style="overflow: hidden; cursor: pointer;">Name</div>
                </td>
                <td style="background-color:white;">
                    <div id="MachineStateColor" style="width:20px; border: 1px solid; cursor: pointer;">&nbsp;</div>
                </td>
                <td style="background-color:white; width:48px;">
                    <span id="RemoveMachineState" class="table-remove glyphicon glyphicon-remove"></span>
                </td>
                <td style="background-color:white;">
                    <span id="RenameMachineState" class="table-up glyphicon glyphicon-pencil">
                </td>
              </tr>
              <!-- -->
            </table>
        </div>
        <div id="EmuchartsFloatTableMenu">
            <ul class="table-tab-container" role="tablist">
                <li id="btnStates" class="active table-tab"><a href="#!">States</a>
                </li>
                <li id="btnTransitions" class="table-tab"><a href="#!">Transitions</a>
                </li>
                <li id="btnVariables" class="table-tab"><a href="#!">Context Variables</a>
                </li>
                <li id="btnConstants" class="table-tab"><a href="#!">Constants</a>
                </li>
                <li id="btnDatatypes" class="table-tab"><a href="#!">Datatypes</a>
                </li>
            </ul>
            <ul class="table-toggle-container" role="tablist">
                <li id="btnViewHideTable" class="table-toggle-visible" style="margin-right:76px;">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </li>
                <li id="btnViewRevealTable" class="table-toggle-visible" style="display:none">
                    <span class="glyphicon glyphicon-triangle-top" style="margin-left:28px; margin-right:28px;"></span>
                </li>
            </ul>
        </div>
        <div id="EmuchartsFloatTableContent">
            <div id="NewTransition" style="display:none;">
                <table class="table">
                  <!-- This is our clonable table line template -->
                  <tr id="TransitionTemplate">
                    <td contenteditable="false" style="background-color:white; cursor: default;">
                        <div id="TransitionLabel" style="cursor: pointer;">Name</div>
                    </td>
                    <td style="background-color:white;">
                        <div id="TransitionSource" style="cursor: pointer;">&nbsp;</div>
                    </td>
                    <td style="background-color:white;">
                        <div id="TransitionTarget" style="cursor: pointer;">&nbsp;</div>
                    </td>
                    <td style="background-color:white; width:48px;">
                        <span id="RemoveTransition" class="table-remove glyphicon glyphicon-remove"></span>
                    </td>
                    <td style="background-color:white;">
                        <span id="RenameTransition" class="table-up glyphicon glyphicon-pencil">
                    </td>
                  </tr>
                  <!-- -->
                </table>
            </div>
            <div id="MachineStates" class="table-editable floating-table" style="display:block;">
                <div class="EmuchartTableHeader" style="cursor: default;"><span>Machine States</span></div>
                <table class="table" style="margin-bottom:0 !important;">
                  <tr id="heading" class="TableHeading">
                    <th style="cursor: default;">Name</th>
                    <th style="cursor: default;">Color Code</th>
                    <th></th>
                    <th class="width32"><span id="AddMachineState" class="table-add glyphicon glyphicon-plus"></span></th>
                  </tr>
                </table>
            </div>
            <div id="TransitionsTable" class="table-editable floating-table" style="display:none;">
                <div class="EmuchartTableHeader" style="cursor: default;"><span>Transitions</span></div>
                <table class="table" style="margin-bottom:0 !important;">
                  <tr id="heading" class="TableHeading">
                    <th style="cursor: default;">Transition Label</th>
                    <th style="cursor: default;">Source</th>
                    <th style="cursor: default;">Target</th>
                    <th></th>
                    <th class="width32"><span id="AddTransition" class="table-add glyphicon glyphicon-plus"></span></th>
                  </tr>
                </table>
            </div>
            <div id="StateAttributes" class="table-editable floating-table" style="display:none;">
                <div class="EmuchartTableHeader" style="cursor: default;"><span>Context Variables</span></div>
                <table class="table" style="margin-bottom:0 !important;">
                  <tr id="heading" class="TableHeading" style="margin-left:0">
                    <th style="cursor: default;">Variable Name</th>
                    <th style="cursor: default;">Variable Type</th>
                    <th style="cursor: default;">Initial Value</th>
                    <th></th>
                    <th class="width32"><span id="AddStateAttribute" class="table-add glyphicon glyphicon-plus"></span></th>
                  </tr>
                </table>
            </div>
            <div id="ConstantsTable" class="table-editable floating-table" style="display:none;">
                <div class="EmuchartTableHeader" style="cursor: default;"><span>Constants</span></div>
                <table class="table" style="margin-bottom:0 !important;">
                  <tr id="heading" class="TableHeading" style="margin-left:0">
                    <th style="cursor: default;">Constant Name</th>
                    <th style="cursor: default;">Constant Type</th>
                    <th style="cursor: default;">Initial Value</th>
                    <th></th>
                    <th class="width32"><span id="AddConstant" class="table-add glyphicon glyphicon-plus"></span></th>
                  </tr>
                </table>
            </div>
            <div id="DatatypesTable" class="table-editable floating-table" style="display:none;">
                <div class="EmuchartTableHeader" style="cursor: default;"><span>Datatypes</span></div>
                <table class="table" style="margin-bottom:0 !important;">
                  <tr id="heading" class="TableHeading" style="margin-left:0">
                    <th style="cursor: default;">Datatype Name</th>
                    <th style="cursor: default;">Datatype Constants</th>
                    <th></th>
                    <th class="width32"><span id="AddDatatype" class="table-add glyphicon glyphicon-plus"></span></th>
                  </tr>
                </table>
            </div>
        </div>
        <!--<textarea id="infoBoxModifiable" readonly >This space is for the Advanced Diagram Editor (this plugin will be implemented soon!)
        </textarea>-->
        <div><a href="!#" id="pngdataurl" download target="_blank"></a></div>
    </div>
</div>
