(in-package "USER")
(defvar *pvs-path* "")
(eval-when (load eval)
  (require 'tpl-debug)
  #+(or runtime-standard runtime-dynamic)
  (pushnew :runtime *features*)
  #-runtime (require 'prof)
  (load (format nil "~a/pvs.system" *pvs-path*)))
(operate-on-system :pvs :compile)
