<div class="form-center">
    <div class="panel panel-info shadow center">
        <div class="panel-heading">Save Changes</div>
        <div class="panel-body">
            <div class="center">Would you like to save changes to the <strong>{{name}}</strong> project?</div>
        </div>
        <div class="panel-footer">
           <button type="button" class="btn btn-danger left" id="btnNo">No</button>
            <button type="submit" class="btn btn-success right" id="btnYes">Yes</button>
        </div>
    </div>
    
</div>