body *{
    -webkit-font-smoothing:antialiased;
}
.tabs .tab a {
    color: #17176a;
}

.row.secondarymenubar {
    margin: 0 !important;
}

input#search_input{
    margin: 0!important;
    width: 300px!important;
    font-size: initial;
}
a.active {
    background-color: #9696c6;
    color: white !important;
}

#menu a.active {
    background-color: #312F61;
}

.container {
    max-width: 2600px !important;
    min-width: 900px !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.container a {
    color: #3F51B5;
    font-weight: bold;
}

i.material-icons {
    vertical-align: middle;
}
footer.page-footer a, nav .container a{
    color: #ffffff;
}
.tabs .tab a:hover {
    color: #9696c6;
    font-weight: 400;
}

.tabs .indicator {
    display: none;
    background-color: #9696c6;
}

.option img {
    margin-bottom: -10px;
    width: 32px;
    height: 32px;
}

.secondarymenubar {
    border-top: 2px solid #9696c6;
    clear: both;
}

div.clear {
    clear: both;
}
.secondarymenubar .secondarymenu.row {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 45px;
}

.pvshelp {
    width: 100%;
    min-height: 1200px;
}

.pvsdoc {
    width: 50%;
    height: 580px;
    float: left;
}
.screenshot {
    width: 100%;
    min-height: 600px;
}

.indigo {
    margin-bottom: 2px !important;
}